@import "tailwindcss";

:root {
  --background: #09090b; 
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(circle at top, #6366f126, transparent 70%);
}