@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased
}